
td#OtherMonth {
    /* background: #f1f1f1;  */
    color: darkgray;

}

td#CurMonth {
	cursor: pointer;
    /* background: #E6D1F2;   */
}

#LeftArrow, #RightArrow{
    cursor: pointer;
}
table, th, td {
	width: 15px;
    height: 10px;
    text-align: center;
    background: #ece6ff;    
    cursor: default;
    border-radius: 10px;
}
